 .header {
  display: flex;
  flex-direction: column;
 
}


.logo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.logo:hover {
  background-color: green;
  transition: 0.7s;
}

.header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:  black;
  color: white;
  height: 80px;
  width: 100vw;
  border-bottom: 1px solid green;
  border-right: 1px solid green;
  position: fixed;
  z-index: 55;
  animation-name: nav;
  animation-duration: 0.7s;
}

.switch svg  {
  
  padding: 3px;
}

@keyframes nav {
  from {
    width: 0vw;
    
  }
  to {
     width: 100vw;
     
    }
}


.menu-mobile  {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
    z-index: 99;
    position: fixed;
    backdrop-filter: blur(8px);
    background-color: rgba(100, 100, 100, 0.1);
    
    animation-name: menu;
    animation-duration: 0.7s;
}

@keyframes menu {
  from{
    height: 0vh ;

  }

  to {
height: 100vh;
  }
}

a {
  text-decoration: none;
  color: white;
  width: 100%;

}

.buttons-menu-mobile {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-mobile li {
  cursor: pointer;
  
  font-size: 22px;
  padding: 15px 0px;
  text-align: center;
  border-top: 1px groove green;
  border-bottom: 1px groove green;
  
}

.menu-mobile li:hover { 
  background-color: green;
  transition: 0.7s;
}



.botao-menu  {
  display: flex;
  justify-content: center;
  align-items: center;
  outline:none;
  cursor: pointer;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid green;
}

.botao-menu svg {
  font-size: 40px;
  color: white;
}

.botao-menu:hover {
  background-color: green;
  transition: 0.7s
}

.card-container {
  display: flex;
  justify-content: center;
}

.card-perfil {
  width: 65%;
  max-width: 390px;
  height: 310px;
  
  color: white;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  border: 1px solid green;
  
}

.card-perfil p {
  text-align: center;
}

.card-perfil img {
  width: 60%;
  border-radius: 50%;
  border: 2px solid green;
}

 .sociais  {
 width: 100%;
 display: flex;
 justify-content: space-around;
 text-align: center;
}




.sociais svg {
  font-size: 35px;
  cursor: pointer;
 
  
}

.sociais svg:hover {
  color: green;
}


@media (min-width: 700px) {

  

  .menu-mobile {
    
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    
    justify-content: space-evenly;
    animation-name: menu;
    animation-duration: 2s;
    flex: 1;
    backdrop-filter: blur(8px);
    background-color: rgba(100, 100, 100, 0.1)
    
  }

  .buttons-menu-mobile {
    display: flex;
    justify-content: center;
    margin: 0px 15px;
    
    
  }

  .menu-mobile .logo {
    display: none;
  }

  .menu-mobile li {
    border: none;
    font-size: 35px;
    
    
  }

  .menu-mobile li:hover { 
    color: green;
    background-color: transparent;
    
  }
 
  .header nav {
    width: 100vw;
    flex: 1;
    
  }

  @keyframes nav {
    from {
      width: 0vw;
     
    }
    to {
       width: 100vw;
      
      }
    }

  @keyframes menu {
    from {
      height: none;
     
    }
    to {
       height: none;
      
      }
  }

  .card-container {
    display: none;
  }

}



