.perfil-home {
  background-image: url(./img/img-bgperfil.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

@keyframes float {
 0% {
  transform: translatey(0px);
 }

 50% {
  transform: translatey(-30px);
 }

 100% {
  transform: translatey(0px);
 }
}

.home {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}

.home h1, .home h2 {
  font-size: 19px;
  
}



.home span {
  color: green;
  font-size: 50px;
  font-family: 'Ms Madi', cursive;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 5s steps(20) infinite alternate
  , blink 800ms steps(20) infinite normal;
  border-right: 3px solid black;
 
}

@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 105%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}



.home {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.home a {

  text-align: center;
 
}
.home  button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid green;
  font-size: 17px;
  background-color: black;
  color: white;
  
  outline: none;
  cursor: pointer;
  margin: 15px;
}

.home button:hover {
  background-color: green;
  
}

.home .sociais {
  width: 60%;
}



.saiba-mais {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

.saiba-mais spam {
  font-size: 30px;
  color: green;
  margin: 5px 0;
}

.saiba-mais svg {
  font-size: 60px;
  animation: saibaMais .5s infinite;
  
}


@keyframes saibaMais {
  from {
    color: white;
    
  }
  to {
     color: green;
     
    }
}

@media (min-width: 700px) {
  .perfil-home {
    align-items: flex-start;
  }
  .home {
    margin: 100px 0px 20px 0px;
  }

.home span {
  font-size: 65px;
}

.home h1, .home h2 {
  font-size: 32px;
}

}